body 
{
    background-position: absolute;
    align-items: center;
    font-family: sans-serif;
    background-image: url("../../../images/Background.jpeg");
}

.header 
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-radius: 10px;
}

.ntsflogo 
{
    position: left;
    width: 90px;
    padding: 10px 40px;
    display: flex;
    justify-content: left;
}

.title
{
    margin-top: 5px;
    font-size: 20px;
    margin-right: 15px;
}

.homelogo 
{
    position: right;
    width: 50px;
    padding: 20px 40px;
    display: flex;
    margin-right: 25px;
    justify-content: right;
    cursor: pointer;
}

.container 
{
    position: absolute;
    background-color: #C2C4C6;
    height: 400px;
    width: 450px;
    border-radius: 15px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.headline
{
    text-align: center;
}

.filldetails 
{
    padding-right: 80px;
    font-size: 20px;
    text-align: right;
    margin-left: 20px;
    margin-right:-25px;
    font-size: 20px;
}

.input 
{
    border-radius: 5px;
    border:none;
}

.policeidfillrow 
{
    padding-left: 20px;
}

.nicnofillrow 
{
    padding-top: 5px;
}

.emailfillrow 
{
    padding-top: 5px;
}

.mobilefillrow
{
    padding-top: 5px;
}

.createpasswordfillrow
{
    padding-top: 5px;
}

.reenterpasswordfillrow 
{
    padding-top: 5px;
    padding-bottom: 30px;
}

.signup-btn 
{
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background-color: #4B6E8E;
    align-items: center;
    cursor: pointer;
    margin-left: 50%;
    margin-right: 45px;
    border-radius: 30px;
    transform: translate(-100%);
    border:none;
    color:white;
}

.option 
{
    text-align: center;    
    padding-bottom: 10px;
    margin-left:40px;
}

span
{
    color: blue;
    cursor: pointer;
} 

.signup-btn:hover 
{
    background-color: #587691;
} 

h5
{
    text-align: center;
} 

span:hover 
{
    color:red;
}