body 
{
    background-position: absolute;
    align-items: center;
    text-align: center;
    background-image:url("../../../images/Background.jpeg");
    font-family: sans-serif;
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.ntsflogo
{
    position: left;
    width:90px; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.title
{
    margin-top:5px; 
    font-size: 20px;
    margin-right: 15px;
} 

.homelogo
{
    position: right;
    width:50px; 
    padding: 20px 40px;
    display: flex; 
    margin-right: 25px;
    justify-content:right;
    cursor: pointer;
}

.container
{
    position:absolute;
    background-color:#C2C4C6; 
    height:350px;
    width:420px;
    border-radius:15px;
    text-align: center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.headline 
{
    text-align: center;
    font-family: sans-serif;
    margin-top: 25px;
}

.filldetails
{
    padding-right: 80px;
    font-size: 20px;
    text-align: right;
}  

.input 
{
    border-radius: 5px; 
    border:none;
} 

.otpfillrow
{   
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 80px;
} 

p 
{
    color:blue;
    cursor: pointer;
}  

.submit-btn 
{   
    margin-top:10px;
    width:80px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-left: 50%;  
    margin-right: 10px;
    border-radius: 30px;
    transform: translate(-100%);
    border:none;  
}  

.submit-btn:hover 
{
    background-color: #587691;
}
