body 
{
    align-items:center;
    background-position: absolute;
    text-align: center;
    font-family: sans-serif;
    background-image:url("../../../images/Background.jpeg");

}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.ntsflogo
{
    position: left;
    width: 10vw;
    display: flex;
    padding: 10px 40px;
    justify-content:left;
} 

.title
{
    margin-top: 5px;
    font-size:20px;
    text-align: center;
    width: 100vw; 
    margin-right:200px;
}

.headline
{
    margin-top: 5px;
    font-size:20px;
    margin-right: 15px;
}  

.container
{
    position:absolute;
    background-color:#C2C4C6; 
    height:300px;
    width:550px;
    border-radius:15px;
    text-align: center;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

h4 
{
    text-align: center;
} 

a 
{
    color:blue;
    text-align: center;
    margin-top:-10px;
}

.filldetails
{
    font-size: 20px;
    text-align: left;
    position: relative;
    margin-left: 30px; 
    margin-top: 10px;
} 

.input 
{
    border-radius: 5px; 
    border:none;
    align-items: center;
} 

.otpfillcolm
{   
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
}

.enterpasswordfillcolm
{
    padding-bottom: 5px;
    margin-left: 40px;
} 

.confirmpasswordfillcolm
{
    padding-bottom: 5px;
    margin-left: 40px;
} 

.buttens 
{   
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}  

.submit-btn 
{   
    margin-top:20px;
    width:150px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-left: 230px;  
    border-radius: 30px;
    transform: translate(-100%); 
    border:none;
}  

.cancel-btn 
{   
    margin-top:20px;
    width:150px;
    height:30px; 
    align-items: center; 
    cursor: pointer;
    margin-left:20px; 
    border-radius: 30px;
    transform: translate(-100%);
    background-color: #467D53; 
    border:none;
} 

.cancel-btn:hover
{
    background-color: #527C5C;
} 

.submit-btn:hover 
{
    background-color: #587691;
}
