body 
{
    background-position: absolute;
    align-items:center;
    text-align: center;
    font-family: sans-serif;
    background-image:url("../../../images/Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content:first baseline;
    background-color:lightblue;
    border-radius: 10px;
}  

.ntsflogo
{
    position: left;
    width:10vw; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.title
{
    margin-top: 5px;
    font-size:20px;
    text-align: center;
    width: 100vw;
    margin-right: 185px;
} 

.container
{
    position:absolute;
    background-color:#C2C4C6; 
    height:250px;
    width:420px;
    border-radius:15px;
    text-align: center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    
}

.filldetails
{
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
    margin-right: 75px;
} 

.licensefillrow
{   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
} 

.nicfillrow
{
    padding-bottom: 5px;
}  

.input 
{
    border-radius: 5px;
    border:none;
} 

.buttens 
{   
    display: flex;
    justify-content: space-between;
}  

.submit-btn 
{   
    margin-top:40px;
    width:100px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: left; 
    cursor: pointer; 
    margin-left:190px;
    border-radius: 30px;
    transform: translate(-100%);
    border:none;
    color:white;
}  

.cancel-btn 
{   
    margin-top:40px;
    width: 100px;
    height:30px; 
    align-items: right; 
    cursor: pointer; 
    border-radius: 30px;
    margin-right: -80px;
    transform: translate(-100%);
    background-color: #467D53;
    border:none;
    color:white;
}
 
.cancel-btn:hover
{
    background-color: #527C5C;
} 

.submit-btn:hover 
{
    background-color: #587691;
} 