body 
{
    background-position: absolute;
    align-items: center;
    background-image:url("Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.logo1
{
    position: left;
    width:90px; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.headline
{
    margin-top:5px; 
    font-size: 20px;
    margin-right: 15px;
} 

.logo2
{
    position: right;
    width:50px; 
    padding: 20px 40px;
    display: flex; 
    margin-right: 25px;
    justify-content:right;
}

.footer
{
    position:absolute;
    background-color:#C2C4C6; 
    height:400px;
    width:450px;
    border-radius:15px;
    text-align: center;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.heading 
{
    text-align: center;
    font-family: sans-serif;
}

.filldetails
{
    padding-right: 80px;
    font-size: 20px;
    text-align: right;

} 

.input 
{
    border-radius: 5px; 
    border: 2px solid black;
}

.nicfill
{
    padding-bottom: 5px;
    padding-left: 20px;
} 

.nicissuedatefill
{
    padding-bottom: 5px;
} 

.emailfill
{
    padding-bottom: 5px;
}

.mobilefill
{
    padding-bottom: 5px;
}

.passwordfill1
{
    padding-bottom: 5px;
} 

.policeidfill2
{
    padding-bottom: 30px;
    font-size:20px;
}    

.signup-btn 
{   
    margin-top:10px;
    width:80px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-left: 50%;  
    margin-right: 20px;
    border-radius: 30px;
    transform: translate(-100%);
}  

.option 
{
    padding-left: 70px;
    padding-bottom: 10px;
} 

a 
{
    color: blue;
}
