body 
{
    background-position: absolute;
    align-items: center;
    text-align: center;
    font-family: Poppins, serif;
    background-image: url("../../../images/Background.jpeg");
}

.header 
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-radius: 10px;
    font-family: Poppins, serif;
}

.ntsflogo {
    position: left;
    width: 90px;
    display: flex;
    padding: 10px 40px;
    justify-content: left;

}

.title 
{
    margin-top: 5px;
    font-size: 20px;
    margin-right: 15px;
}

.accountlogo
{
    position: right;
    width: 50px;
    display: flex;
    justify-content: right;
    padding: 20px 40px;
    margin: right 25px;
    margin-right: 25px;
    cursor: pointer;
}

.optionbar
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #C2C4C6;
    border-radius: 10px;
    font-family: Poppins, serif;
    text-align: center;
}

.option1 
{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-top: 5px;
    padding-left: 25%;
}

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 50%;
}

.option2 
{
    text-align: center;
    padding-right: 25%;
    padding-top: 5px;
    font-family: Poppins, serif;
}

/*.userdetails 
{
    display: flex;
    justify-content: space-between;
}  

.name 
{
    position: absolute;
    text-align: left;
    display: flex;
    justify-content: left;
    padding-top: 5px; 
    padding-left: 25%;
} 

.points 
{
    text-align: right;
    padding-right: 25%;
    padding-top: 5px; 
    font-family: Poppins, serif;
}*/

.container
{
    position: absolute;
    background-color: #C2C4C6;
    height: 320px;
    width: 750px;
    border-radius: 15px;
    text-align: center;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.container table 
{
    display: flex;
    justify-content: space between;
}

.table th 
{
    margin-top: 10px;
    padding-left: 10px;
}

.table th, td 
{
    padding: 30px;
    text-align: center;
    margin-left: 10px;
}

.pay-btn 
{
    text-align: center;
    align-items: right;
    width: 110px;
    height: 30px;
    background-color: #4B6E8E;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 30px;
    border:none;
    color:white;
}

.pay-btn:hover 
{
    background-color: #587691;
}