

#cancel-button {
	background: #B2BEB5;
	border: solid 6px #B2BEB5;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2em;
	margin-left: 6px;
}

