body 
{
    background-position: absolute;
    align-items: center;
    background-image:url("Background.jpeg");
    font-family: sans-serif;
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.logo1
{
    position: left;
    width:90px; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.headline
{
    margin-top: 5px;
    font-size:20px;
    margin-right: 15px;
} 

.logo2
{
    position: right;
    width: 50px;
    display: flex; 
    justify-content: right;
    padding: 20px 40px;
    margin: right 25px;
    margin-right: 20px;  
    cursor: pointer;
} 

.menu
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    font-style: bold;
} 

.option1
{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-top: 5px; 
    padding-left: 25%; 
    cursor: pointer;
    font-style: bold;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 50%;
}  

.option2 
{
    text-align: center;
    padding-right: 25%;
    padding-top: 5px; 
    font-family: sans-serif;
    cursor: pointer;
}

.footer
{
    position:absolute;
    background-color:#C2C4C6; 
    height:350px;
    width:550px;
    border-radius:15px;
    text-align: center;
    left: 50%; 
    bottom: -20px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.head
{
    text-align: center;
    font-family: sans-serif;
}

.logo3
{
    position: center;
    width:40px; 
    height:40px;
    margin-left:215px;
    padding: 20px 40px;
    display: flex; 
    justify-content:center; 
    cursor: pointer;
}

.cross 
{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
} 

.cross1
{
    width:15px;
    height:15px; 
    display: flex;
    justify-content: left;
    margin-left: 25%;
} 

.cross2
{
    width:15px;
    height:15px; 
    display: flex;
    justify-content: right;
    margin-right: 44%;
}

.pics
{
    display: flex;
    justify-content:space-between;
} 

.pic1
{
    width:120px;
    margin-left:25%;
} 

.pic2 
{
    width:120px;
    margin-right:25%;
}  

.midimg 
{
    width:100%;
}

.buttens 
{   
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}   

.submit-btn 
{   
    width:110px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-left: 250px;  
    border-radius: 30px;
    transform: translate(-100%);
}  

.cancel-btn 
{   
    width:110px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-right: 30px;  
    border-radius: 30px;
    transform: translate(-100%);
    background-color: #467D53;
}
