.password-container {
    position: relative;
}

#toggleEye {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}

#toggleEye-SignUp {
    position: absolute;
    top: 57%;
    right: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}