body 
{
    background-position: absolute;
    text-align: center;
    background-image:url("Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.logo1
{
    position: left;
    width: 90px;
    display: flex;
    padding: 10px 40px;
    justify-content:left;
} 

.headline
{
    margin-top: 5px;
    font-size:20px;
    margin-right: 15px;
} 

.logo2
{
    position: right;
    width: 50px;
    display: flex; 
    justify-content: right;
    padding: 20px 40px;
    margin: right 25px;
    margin-right: 20px; 
    cursor: pointer;
} 

.menu
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
} 

.option1
{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-top: 5px; 
    padding-left: 25%;
    cursor: pointer;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 50%;
}  

.option2 
{
    text-align: center;
    padding-right: 25%;
    padding-top: 5px; 
    font-family: sans-serif;
    cursor: pointer;
}  

.footer
{
    position:absolute;
    background-color:#C2C4C6; 
    height:320px;
    width:650px;
    border-radius:15px;
    text-align: center;
    left: 50%; 
    bottom: -20px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}    

.footer table 
{
    display:flex;
    justify-content:center;
}

.table th 
{
    margin-top: 10px;
}

.table th, td 
{
    padding: 25px;
    text-align: center;
}  