body {
    background-position: absolute;
    align-items: center;
    background-image: url("Background.jpeg");
}

.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    border-radius: 10px;
    padding-right: 5%;
    font-family: Poppins, serif;
}

.head {
    font-family: Poppins, serif;
}

.footer {
    background-color: lightblue;
    height: 30vh;
    border-radius: 10px;
    font-family: Poppins, serif;
}

.logo {
    width: 40%;
    display: flex;
    padding: 20px 40px;
}

.chooselanguage {
    align-items: center;
    display: flex;
    text-align: center;
}

.sinhala {
    height: 5vh;
    width: 6vw;
    border-radius: 5px;
}

.english {
    background-color: #4B6E8E;
    height: 5vh;
    width: 6vw;
    border-radius: 5px;
}

.tamil {
    height: 5vh;
    width: 6vw;
    border-radius: 5px;
}

.chooseoption {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.driver-button {
    background-color: #4B6E8E;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 30%;
    font-style: bold;
    font-size: 20px;
    padding-left: 20%;
    margin: 8vh;
    font-family: Poppins, serif;
}

.vehicle-button {
    background-color: #4B6E8E;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 30%;
    padding-left: 17%;
    font-style: bold;
    font-size: 20px;
    margin: 8vh;
    font-family: Poppins, serif;
}

.pedestrian-button {
    background-color: #4B6E8E;
    text-align: center;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 30%;
    padding-left: 15%;
    font-style: bold;
    font-size: 20px;
    margin: 8vh;
    font-family: Poppins, serif;
}

.driver {
    height: 100%;
    margin-left: 10vw;
}

.vehicle {
    height: 100%;
}

.Pedestrian {
    height: 100%;
    margin-right: 10vw;
}

.list {
    font-size: 25px;
    font-family: Poppins, serif;
}

button {
    text-align: center;
}