/* CSS for Form */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


.all{
	align-items: center;
	justify-content: space-around;
}

.container {
	height: 70%;
	width: 45%;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

.form-header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #394867;
	color: #E3F0FF;
	height: 15%;
	padding: 4%; /*issue here*/
	position: sticky;
}


.form {
	padding: 30px 40px;
	overflow-y: auto;
	height: 80%;

}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-circle-check {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #394867;
	border: 2px solid #394867;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	cursor: pointer;
}

.form button:hover {
	background-color: #6A789A;
}

.form button:active {
	background-color: #6A789A;
	transform: translateY(4px);
}

.options {
	cursor: pointer;
	width: 300px;
	border-radius: 15px;
	background-color: rgb(250, 250, 250);
	transition: all 300ms;
}

.options.opened {
	overflow-y: scroll;
}

.option {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	transition: all 300ms;
}

.option:nth-child(1) {
	border-radius: 15px;
}

.option:hover {
	background-color:#394867;
	color: white;
}
