.status-stripe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.status-button{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}