* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Lato", sans-serif;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
 
}

.background-image {
  position: relative;
  width: 400px;
  height: 300px;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/resources/images/loginBackground.jpg');
  opacity: 1;
}


.header
{
    width: 99.5%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.25%;
    border-radius: 5px;
    background-color: #394867;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 60%;
  /* border: #6A789A 1px solid; */
  padding: 4%;
  background-color: white;
}

footer
{
  width: 99.5%;
  height: 5%;
  background-color:#394867;
  color: #E3F0FF;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 0.25%;

}

.policeLoginImage{
  width: 60%;
  height: 100%;
  padding: 10%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(14, 171, 250, 0.5);
  border-top-left-radius:  10px;
  border-bottom-left-radius:  10px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-height: 100%;
  box-shadow: 0px 1px 5px rgba(14, 171, 250, 0.5); 
  border-bottom-right-radius:  10px;
  border-top-right-radius:  10px;
}

.ntsflogoDiv
{
  width: 8%;
}
.emptyDiv
{
  width: 8%;
}
.ntsflogo
{
    width: 70%;
    height: 100%;
    padding: 10%
}

.login {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 100%;
  background: #fff;
  position: relative;
  padding-bottom: 80px;
  /*new insertion*/
  margin-bottom: 10px;
  /*new insertion*/
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #ccc;
  position: relative;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}
.login input:focus + i.fa {
  opacity: 1;
  left: 30px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  color: #2196f3;
  text-decoration: none;
}
.login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.login button {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #394867;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}

.login button:hover {
  background-color: #7C88A2;
}

.login button:active {
  background-color: #4C5873;
}

.login button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(91, 105, 138, 0.5);
}

.forgotPassword{
  text-decoration: none;
  font-size: 0.9em;
  color: #394867;

}

/* Success/Error messages */
.message {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 255px;
	height: 60px;
	position: absolute;
	right: -255px;
	bottom: 5vh;
	animation: showMessage ease-out 5s;
}

.message.success {
	background-color: rgb(184, 255, 112);
}

.message.danger {
	background-color: crimson;
}

@keyframes showMessage {
	0%, 100% {
		right: -255px
	}

	10% {
		right: 0
	}

	90% {
		right: 0;
	}
}

/*Error message*/
.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}


b{
  color: #E3F0FF;
}
