body 
{
    background-position: absolute;
    background-image:url("Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
}  

.chooselanguage
{
    align-items:center;
    display: flex;
    text-align: center;
    margin-right: 65px;
    cursor: pointer;
} 

.sinhala 
{
    height: 35px;
    width: 60px;
    cursor: pointer;
    border-radius: 10px;
}

.english
{
    background-color: #4B6E8E;
    height: 35px;
    width: 60px; 
    cursor: pointer;
    border-radius: 10px;
}  

.tamil
{
    height: 35px;
    width: 60px; 
    cursor: pointer;
    border-radius: 10px;
}

.logo
{
    position: left;
    width:90px; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.head
{
    font-family: sans-serif;
}

.footer
{
    background-color:#C2C4C6;
    border-radius: 20px;
    height: 420px;
    width:450px; 
    margin-left: 100px;
    font-family: sans-serif;
}

.heading 
{
    text-align: center;
    padding-left: 15px;
    font-family: sans-serif;
}

.filldetails
{
    padding-right: 80px;
    font-size: 20px;
    text-align: right;

}  

.input 
{
    border-radius: 5px;
}

.policeidfill
{
    padding-bottom: 5px;
    padding-left: 20px;
} 

.nicfill
{
    padding-bottom: 5px;
} 

.emailfill
{
    padding-bottom: 5px;
}

.mobilefill
{
    padding-bottom: 5px;
}

.passwordfill1
{
    padding-bottom: 5px;
} 

.policeidfill2
{
    padding-bottom: 30px;
    font-size:20px;
}    

.signup-btn 
{   
    margin-top:10px;
    width:80px;
    height:30px; 
    background-color: #4B6E8E;
    align-items: center; 
    cursor: pointer;
    margin-left: 50%;  
    margin-right: 10px;
    border-radius: 30px;
    transform: translate(-100%);
}  

.option 
{
    padding-left: 70px;
    padding-bottom: 10px;
}

.list
{
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 30px;
    font-family:sans-serif;
} 

a 
{
    color:blue;
} 

table 
{
    display: flex;
    justify-content: space-between;
}
