body 
{
    align-items: center;
    background-position: absolute;
    background-image:url("Background.jpeg");
}

.header
{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
}  

.logo1
{
    width: 40%;
    display: flex;
    align-items: left;
    padding: 10px 20px;
    padding-left:30px;
    padding-top: 10px;
    
} 

.headline
{
    text-align: center;
    padding-bottom: 20px;
} 

.logo2
{
    width: 40%;
    display: flex; 
    justify-content: right;
    align-items: right;
    padding: 10px 20px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 10px;
} 

.menu
{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
    padding-top: 5px;
    text-align: center;
} 

.option1
{
    text-align: center;
    padding-left: 250px;
    font-family: sans-serif;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 25px;
}  

.option2 
{
    text-align: center;
    padding-right: 250px;
    font-family: sans-serif;
}

.footer
{
    background-color:#C2C4C6;
    background-position: center;
    border-radius: 20px;
    height: 65vh;
    width:90vh; 
    padding-right: 30px;
    margin-top: 5vh;
    margin-left: 28%;
    font-family: sans-serif;
}

.head
{
    text-align: center;
    padding-left: 50px;
    font-family: sans-serif;
    padding-top: 15px;
    padding-right: 25px;
}

.logo3
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    padding-left:285px;
    padding-top: 10px;
}

.cross 
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
} 

.cross1
{
    width:15px;
    height:15px; 
    display: flex;
    justify-content: left;
    margin-left: 10%;
} 

.cross2
{
    width:15px;
    height:15px; 
    display: flex;
    justify-content: right;
    margin-right: 40%;
}

.pics
{
    display: flex;
    justify-content:space-between;
    width:20px;
    height:20px;
} 

.pic1
{
    width:10px;
    height:10px;
} 

.pic2 
{
    width:5%;
    height:5%;
}

.buttens 
{   
    display: flex;
    justify-content: space-between;
} 

.submit
{
    margin-top: 35%;
}   

.submit-btn 
{   
    height: 5vh;
    width: 10vw;
    border-radius:  70px;
    background-color: #4B6E8E;
    text-align: center; 
    margin-left:60%;
} 

.cancel
{
    margin-top: 35%;
}   

.cancel-btn 
{   
    height: 5vh;
    width: 10vw;
    border-radius:  70px;
    background-color: #467D53;
    text-align: center;
    margin-left:-45%; 
}
