@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Sans+Pro:300,600");

body {
	font-family: "Lato", sans-serif;
	height: 100%;
	width: 100%;
	position: fixed;
}

.ntsflogo
{
	height: 75px;
	width: 125px;
}

.dashboto-logo p:nth-child(2) {
	font-weight: 600;
}

.tagline {
	color: #9b9ea2;
	font-weight: 300;
	padding: 0px 5px;
	margin-top: -5px;
}


.DashBoardOption {
	width: 20%;
	height: 100vh;
	padding: 0px 2%;
	float: left;
}

button {
	background: #14abfa;
	border: solid 6px #14abfa;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2em;
	margin-left: 6px;
}

.menu {
	margin-top: 30px;
	width: 100%;
	padding: 0px;
	margin-left: 8px;
}

.menu a {
	width: 100%;
	color: #666666;
	text-decoration: none;
	margin: 15px 0px;
	float: left;
	display: block;
	font-size: 1.2em;
}

.menu a:first-child {
	color: #14abfa;
}

.menu a i {
	font-size: 1.7em;
	color: #14abfa;
	position: relative;
	padding-right: 10px;
	top: 3px;
}

.menu .fa-tasks {
	top: 6px;
	padding-left: 2px;
}

.menu .fa-book {
	top: 5px;
	padding-left: 2px;
}

.menu .fa-newspaper-o {
	top: 6px;
	padding-left: 2px;
}

.menu .fa-money {
	top: 5px;
	padding-left: 2px;
}

.clear {
	clear: both;
}

.dashboard-heading {
	width: 76%;
	float: left;
	background: #ffffff;
	position: relative;
	color: #73787c;
	margin-top: 20px;
	position: relative;
}

.dashboard-heading .panel {
	padding-bottom: 40px;
	background-color: #12abf7;
	margin-bottom: 20px;
}

.btc-price {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: -8px;
	color: white;
}

.dashboard-heading .panel i {
	border-radius: 50%;
	background: #f4f4f4;
	padding: 8px;
	border: solid 2px;
	position: relative;
	left: 20px;
	cursor: pointer;
	background-color: #12abf7;
}

.dashboard-heading .all {
	margin-top: 20px ;
	background: #f2f2f2;
	width: 100%;
	min-height: 100vh;
}

@media only screen and (max-width: 800px) {
	.DashBoardOption {
		width: 90%;
		display: none;
	}
	.dashboard-heading {
		width: 100%;
	}
	.blok i {
		display: none;
	}
}

/*CSS for table*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.tableheading
{
	position: fixed;
	width: 100%;
}

table
{
	width: 90%;
	height: 80%;
	overflow: auto;
}





.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #9FB4C7;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
  
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

/* Basic Styling */
body {
/* background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
background: linear-gradient(to left, #4B79A1 , #283E51);         */
}
h1 {
  text-align: center;
  font-size: 2.4em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}

/* CSS for Form */


