body 
{
    background-position: absolute;
    align-items:center;
    text-align: center;
    font-family: sans-serif;
    background-image:url("Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content:baseline;
    background-color:rgb(173, 216, 230);
    border-radius: 10px;
}  

.logo1
{
    position: left;
    width:10vw; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.headline
{
    margin-top: 5px;
    font-size:20px;
    text-align: center;
    width: 100vw;
} 

.footer
{
    position:absolute; 
    height:450px;
    width:420px;
    border-radius:15px;
    text-align: center;
    align-items:center;
    top: 65%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-sizing: border-box;
} 

h3 
{
    margin-top:40px;
    text-align: center;
}

.pic 
{   
    width: 20px;
    height: 20px;
    background-position:center;
    margin-left: 25%;
    margin-right: 25%; 
} 

.midimg 
{
    width:40%;
}

.ok-btn 
{   
    margin-top:5px;
    width: 80px;
    height:30px; 
    align-items: right; 
    cursor: pointer; 
    border-radius: 30px;
    margin-right: -150px;
    transform: translate(-100%);
    background-color: #467D53;
}
