body 
{
    background-position: center;
    background-image:url("Background.jpeg");

}

.header
{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
}  

.logo1
{
    width: 40%;
    display: flex;
    align-items: left;
    padding: 10px 20px;
    padding-left:30px;
    padding-top: 10px;
    
} 

.headline
{
    text-align: center;
    padding-bottom: 20px;
} 

.logo2
{
    width: 40%;
    display: flex; 
    justify-content: right;
    align-items: right;
    padding: 10px 20px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 10px;
} 

.menu
{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
    padding-top: 5px;
    text-align: center;
} 

.option1
{
    text-align: center;
    padding-left: 250px;
    font-family: sans-serif;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 35px;
}  

.option2 
{
    text-align: center;
    padding-right: 250px;
    font-family: sans-serif;
}

.footer
{
    background-color:#C2C4C6;
    background-position: center;
    border-radius: 20px;
    height: 65vh;
    width:90vh; 
    padding-right: 30px;
    margin-top: 5vh;
    margin-left: 27%;
    font-family: sans-serif;
    
}

.head
{
    text-align: center;
    padding-left: 15px;
    font-family: sans-serif;
    padding-top: 5px;
}

.filldetails
{
    padding-left: 60px;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
} 

.namefill
{   
    padding-top: 5px;
    padding-bottom: 5px;
}

.nicfill
{
    padding-bottom: 5px;
} 

.contactnofill
{
    padding-bottom: 5px;
} 

.titlefill
{
    padding-bottom: 5px;
} 

.descriptionfill
{
    padding-bottom: 5px;
    padding-bottom: 5px;
}

.uploadfootages
{
    padding-top: 15px;
    padding-left: 350px; 
    position: relative;
}   

.uploadfootages-btn 
{   
    height: 5vh;
    width: 10vw;
    border-radius:  70px;
    background-color: #5C5D5E;
    text-align: center;
}  

.buttens 
{   
    display: flex;
    justify-content: space-between;
} 

.submit
{
    padding-top: 15px;
    padding-right: 100px;
}   

.submit-btn 
{   
    height: 5vh;
    width: 10vw;
    border-radius:  70px;
    background-color: #4B6E8E;
    text-align: center;
    margin-left: 55px;
} 

.cancel
{
    padding-top: 15px;
    padding-right: 100px;
}   

.cancel-btn 
{   
    height: 5vh;
    width: 10vw;
    border-radius:  70px;
    background-color: #467D53;
    text-align: center;
}
