body 
{   
    background-position: absolute;
    background-image: url("Background.jpeg");
}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    font-family: sans-serif;
} 

.head 
{
    font-family: sans-serif;
} 

.footer
{   
    background-color:lightblue;
    height: 200px;
    border-radius: 10px;
    font-family: sans-serif;
} 

.logo
{
    position: left;
    width:90px; 
    padding: 10px 40px;
    display: flex; 
    justify-content:left;
} 

.chooselanguage
{
    align-items:center;
    display: flex;
    text-align: center;
    margin-right: 65px;
    cursor: pointer;
} 

.sinhala 
{
    height: 35px;
    width: 60px;
    cursor: pointer;
    border-radius: 10px;
}

.english
{
    background-color: #4B6E8E;
    height: 35px;
    width: 60px; 
    cursor: pointer;
    border-radius: 10px;
}  

.tamil
{
    height: 35px;
    width: 60px; 
    cursor: pointer;
    border-radius: 10px;
}

.chooseoption 
{
    display: flex;
    justify-content: space-between;
}

.driver-button
{   
    margin-top:70px;
    width:130px;
    height:60px; 
    background-color: #4B6E8E;
    align-items: left;
    cursor: pointer;  
    margin-left:70px;
    border-radius: 30px;
    /*transform: translate(0%);*/
} 

.vehicle-button
{   
    width:130px;
    height:60px; 
    background-color: #4B6E8E;
    align-items: center; 
    margin-top: 70px;
    cursor: pointer;  
    border-radius: 30px;
    /*transform: translate(-50%);*/
} 

.pedestrian-button
{   
    width:130px;
    height:60px; 
    background-color: #4B6E8E;
    align-items: right; 
    cursor: pointer;
    margin-top: 70px; 
    margin-right: 70px;
    border-radius: 30px;
    /*transform: translate(-100%);*/
}

.list
{
    font-size: 25px;
    font-family: sans-serif;
}

button
{
    text-align: center;
}