body 
{
    background-position: absolute;
    font-family:sans-serif;
    background-image:url("../../../../resources/images/Background.jpeg");

}

.header
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
}  

.ntsflogo
{
    position: left;
    width: 90px;
    display: flex;
    padding: 10px 40px;
    justify-content:left;
} 

.title
{
    margin-top: 5px;
    font-size:20px;
    margin-right: 15px;
} 

.accountlogo
{
    position: right;
    width: 50px;
    display: flex; 
    justify-content: right;
    padding: 20px 40px;
    margin-right: 30px;
    margin-right: 15px; 
    cursor: pointer;
} 

.optionbar
{
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
} 

.option1
{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: left;
    padding-top: 5px; 
    padding-left: 25%;
    cursor: pointer;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 50%;
}  

.option2 
{
    text-align: center;
    padding-right: 25%;
    padding-top: 5px; 
    font-family: sans-serif;
    font-style: bold; 
    cursor: pointer;
}

.container
{
    position:absolute;
    background-color:#C2C4C6; 
    height:400px;
    width:680px;
    border-radius:15px;
    text-align: center;
    left: 50%; 
    top: 60%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.headline
{   
    margin-top: 10px;
    text-align: center;
    font-family: sans-serif;
}

.filldetails
{
    font-size: 20px;
    text-align: right;
    position: relative;
} 

.input 
{   
    width:525px;
    border-radius: 5px; 
    border:none;
    align-items: center;
} 

select 
{
    border-radius: 5px; 
    border:none; 
    align-items: right;
}

textarea
{
    width:525px;
    height:150px;
    border-radius: 5px;
    border:none;
    margin-left: 105px;
    margin-top:-27px;
    
} 

.useridfillrow 
{   
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 40px;
}

.namefillrow
{   
    padding-top: 5px;
    padding-bottom: 10px;
}

.nicfillrow
{
    padding-bottom: 10px;
} 

.contactnofillrow
{
    padding-bottom: 10px;
} 

.titlefillrow
{   
    padding-bottom: 10px;
    margin-left: 65px;
} 

.description 
{ 
    text-align:left;
    margin-left: 40px;
    margin-top: 10px;
} 

.descriptionfillrow
{
    padding-bottom: 10px;
} 

.complaintnofillrow
{
    padding-bottom: 10px;
}

.uploadfootages-btn 
{   
    margin-top:10px;
    width:150px;
    height:30px; 
    align-items: center; 
    cursor: pointer;
    margin-left: 50%;  
    margin-left: 85%;
    border-radius: 30px;
    transform: translate(-100%);
    background-color: #5C5D5E;
    border:none;
    color:white;
}  

.buttens 
{   
    display: flex;
    justify-content: space-between;
}    

.cancel-btn 
{   
    margin-top:350px;
    width:100px;
    height:30px; 
    background-color: #5B5C5E;
    align-items: center; 
    cursor: pointer;
    margin-left: 900px;  
    border-radius: 30px;
    transform: translate(-100%);
    border:none;
    color:white;
}  

.submit-btn 
{   
    margin-top:350px;
    width:100px;
    height:30px; 
    align-items: center; 
    cursor: pointer;
    border:none;
    margin-right: 350px;  
    border-radius: 30px;
    transform: translate(-100%);
    background-color: #4B6E8E;
    color:white;
} 

.cancel-btn:hover
{
    background-color: #767778;
} 

.submit-btn:hover 
{
    background-color: #587691;
} 

.uploadfootages-btn:hover 
{
    background-color:#929393;
}
