body 
{
    background-position: absolute;
    align-items: center;
    background-image:url("Background.jpeg");
}

.header
{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
}  

.logo1
{
    width: 40%;
    display: flex;
    align-items: left;
    padding: 10px 20px;
    padding-left:30px;
    padding-top: 10px;
    
} 

.headline
{
    text-align: center;
    padding-bottom: 20px;
} 

.logo2
{
    width: 40%;
    display: flex; 
    justify-content: right;
    align-items: right;
    padding: 10px 20px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 10px;
} 

.menu
{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color:#C2C4C6;
    border-radius: 10px;
    padding-right: 5%;
    font-family: sans-serif;
    padding-top: 5px;
    text-align: center;
} 

.option1
{
    text-align: center;
    padding-left: 250px;
    font-family: sans-serif;
}  

.devider 
{
    text-align: center;
    font-style: bold;
    padding-left: 25px;
}  

.option2 
{
    text-align: center;
    padding-right: 250px;
    font-family: sans-serif;
} 

.userdetails 
{
    display: flex;
    justify-content: space-between;
}  

.points 
{
    margin-right:30%;
}

.name 
{
    margin-left:25%;
}

.table
{
    position: absolute;
    height: 370px;
    top: 35%;
    left: 25%;
    background-color:#C2C4C6;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
    
    font-family: sans-serif;
}   

.table table {
    display:flex;
    justify-content:center;
}

.table th, td 
{
    padding: 15px;
    text-align: center;
}  

.pay-btn 
{
    height: 5vh;
    width: 7vw;
    border-radius:  70px;
    background-color: #4B6E8E;
    text-align: center;
}